<!doctype html>
{% load static from staticfiles %}

<html>
  <head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Font classification viewer</title>
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/jquery-editable-poshytip.min.js' %}"></script>
    <script src="{% static 'js/script01.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery-editable.css' %}" type="text/css" />
  </head>
  <body>
    <style>
      ul{
          list-style: none;
          border-top: 1px solid #221F1F;
      }
     
      li {
          display: inline-block;
          width: 23%;
      }

      ul li img{
        display:block;
      }

      .filter-label {
        padding-left: 25px; 
      }

      .font_family_item {
        border: 1px solid black;
        margin: 15px;
        padding: 10px;
      }
  </style>
  <script type="text/javascript">
    var fontClasses = {{ font_classes_js|safe }};
  </script>
    
    <h1 align='center'><a href='/'>Font Classification Viewer</a></h1>
    <div style="margin: 15px; border: solid 1px black; padding: 10px">
      <label for='ddl_font_class'>Class</label>
      <select id='ddl_font_class' name='ddl_font_class'>
          <option value='0'>All</option>
          <option value='1'>No TK class</option>
          {% for x in font_classes %}
            <option value='{{x.name}}' {% if font_class and font_class.name == x.name %} selected='selected' {% endif %}>{{x.name}}(debug, id: {{x.id}})</option>
          {% endfor %}
      </select>

      <label for='chk_positive' class="filter-label">Positive</label>
      <input type='checkbox' {% if positive == True or positive == None %} checked='checked' {% endif %} name='chk_positive' id='chk_positive'/>
      
      <label for='chk_predicted' class="filter-label">Predicted</label>
      <input type='checkbox' name='chk_predicted' id='chk_predicted' {% if predicted %} checked='checked' {% endif %} />

      <label for='chk_corrected' class="filter-label">Corrected</label>
      <input type='checkbox' name='chk_corrected' id='chk_corrected' {% if corrected %} checked='checked' {% endif %} />
      
      <label for='chk_unapproved_only' class="filter-label">Unapproved only</label>
      <input type='checkbox' name='chk_unapproved_only' id='chk_unapproved_only' {% if unapproved_only %} checked='checked' {% endif %}  />

      <label for='chk_whitelist_only' class="filter-label">Whitelist only</label>
      <input type='checkbox' name='chk_whitelist_only' id='chk_whitelist_only' {% if whitelist_only %} checked='checked' {% endif %}  />

      <br />
      <br />
      <p>
        <label for='ddl_sort_by'>Sort by</label>
        <select id='ddl_sort_by' class='ddl_sort_by' data-ffamily-id='{{ffamily.id}}'>
          <option value='0'>Alphabetical</option>
          {% for x in font_classes %}
            <option value='{{x.name}}' {% if sort_by.id == x.id %} selected='selected' {% endif %}>{{x.name}}</option>
          {% endfor %}
        </select>

        <label for='chk_prediction' class="filter-label">Prediction</label>
        <input type='checkbox' {% if prediction_sort %} checked='checked' {% endif %} name='chk_prediction' id='chk_prediction' />
        <label for='chk_decreasing' class="filter-label">Decreasing</label>
        <input type='checkbox' {% if descreasing_sort %} checked='checked' {% endif %} name='chk_decreasing' id='chk_decreasing' />
      
      </p>
      {% if sort_by.id != '0' %}
      Predictions {% if allow_non_tk_correction %} and corrections for non tk classes {% endif %} are shown for sort by <b>{{sort_by.name}}</b>
      {% endif %}
      
      {% if enable_editing %}
        <p>
          <button name='btn_approve_all' id='btn_approve_all'>Approve all</button>
          <button name='btn_unapprove_all' id='btn_unapprove_all'>Unapprove all</button>
        </p>
      {% endif %}
    </div>


    <div class="pagination">
      <span class="step-links">
          {% if data.has_previous %}
              <a href="?page={{ data.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">previous</a>
          {% endif %}

          <span class="current">
              <b>Page</b> {{ data.number }} of {{ data.paginator.num_pages }}
          </span>

          {% if data.has_next %}
              <a href="?page={{ data.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">next</a>
          {% endif %}

      </span>
    </div>

    
    <div id='font_families'>
      {% for ffamily in data %}
        <div class='font_family_item'>
          <table>
            <tr>
              <td>
                <h3>
                  {% if ffamily.url %}
                    <a href='{{ffamily.url}}'>{{ffamily}}</a>
                  {% else %}
                    {{ffamily}}  
                  {% endif %}
                  {% if ffamily.is_typekit_family %}
                    (TK)
                  {% endif %}
                  ({{ffamily.id}})
                  {% if enable_editing %}
                    <span>
                      <button class='btn_approve_font_family' data-ffamily-id='{{ffamily.id}}'>Approve</button>
                    </span>
                  {% endif %}
                </h3>

                <b>Typekit&nbsp;Class:</b>&nbsp;{{ffamily|font_typekit_class}}
                <br />

                <b>Other&nbsp;classes:</b>
                {% if ffamily|font_other_classes %}
                  {{ffamily|font_other_classes}}
                {% endif %}
                <br/>
                
                <b>Whitelist:</b>
                {{ffamily|ffamily_is_whitelisted}}
                <br/>
                
                <b>Correction (TK):</b>
                {% if enable_editing %}
                  <select id='ddl_font_correction_{{ffamily.id}}' class='ddl_font_correction' data-ffamily-id='{{ffamily.id}}'>
                    <option value='0'>None</option>
                    {% for x in font_classes_corrected %}
                      <option value='{{x.id}}' {% if x.id == ffamily|ffamily_correction_id %} selected='selected' {% endif %}>{{x.name}}</option>
                    {% endfor %}
                  </select>
                {% else %}
                  {{ffamily|ffamily_correction_name}}
                {% endif %}


                {% if allow_non_tk_correction %}
                  <br />
                  <b>Correction (non TK):</b>
                  {% if enable_editing %}
                    <select id='ddl_font_non_tk_correction_{{ffamily.id}}' class='ddl_font_non_tk_correction' data-ffamily-id='{{ffamily.id}}'>

                      {% get_font_class_non_tk_correction_status ffamily.id sort_by.id as fc_non_tk_corr_value %}
                      {% for x in non_tk_correction_values %}

                        <option value='{{x}}' {% if x == fc_non_tk_corr_value %} selected='selected' {% endif %}>{{x}}</option>
                      {% endfor %}
                    </select>
                  {% else %}
                    {{ fc_non_tk_corr_value }}
                  {% endif %}
                {% endif %}
                
                
                {% if sort_by.id != '0' %}
                <br />
                <b>Prediction:</b> {{ffamily|ffamily_font_class_predicted_value_by_class:sort_by.id|safe}} 
                {% endif %}
          </td>

            {% for fface in ffamily.fontface_set.all %}
              <td><center>
                <img src='/static/img/{{fface}}.png' style='width: 300px; height: 120px' /><br>
                <b>{{fface}}</b>
                </center>
              </td>
            {% endfor %}
</tr>
</table>
        </div>

      {% endfor %}
    </div>

    <div class="pagination">
      <span class="step-links">
          {% if data.has_previous %}
              <a href="?page={{ data.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">previous</a>
          {% endif %}

          <span class="current">
              <b>Page</b> {{ data.number }} of {{ data.paginator.num_pages }}
          </span>

          {% if data.has_next %}
              <a href="?page={{ data.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">next</a>

          {% endif %}

      </span>
    </div>
  </body>
</html>